.modal {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 660px;
   /* max-height: 900px; */
   height: 100vh;
   /* margin: 0 auto; */
   background-color: #fff;
   border: 1px solid #000;
   /* scrollbar-color: #a5a2a2 #000; */
   outline: none;
}

.form {
   height: 100%;
   overflow-y: scroll;
   margin: 40px 0;
   padding: 0 10px;
}

.wrap {
   display: flex;
   /* justify-content: space-around;
   align-items: center; */
   /* flex-wrap: wrap; */
   flex-direction: column;
   width: 500px;
   margin-bottom: 40px;
   /* height: 500px; */
   /* text-align: center; */
   /* z-index: 9999; */
}

.wrap h3 {
   /* text-align: center; */
   display: inline-block;
   /* margin-top: 40px; */
   margin-bottom: 20px;
   padding-bottom: 10px;
   border-bottom: 2px solid #000;
   font-size: 30px;
}

.item {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* align-items: center; */
   width: 100%;
   margin: 10px 0;
}

.item img {
   width: 100%;
   height: 300px;
}

.item p {
   margin-bottom: 10px;
   font-size: 18px;
}

.uploadImgButton {
   margin: 0 auto;
   background-color: #757dc9;
   padding: 20px 20px;
   font-size: 18px;
   cursor: pointer;
}

.modalInput {
   width: 200px;
   padding: 10px;
   resize: none;
}

/* .modalInputText {
   margin-top: 20px;

} */

.modalButton {
   box-sizing: border-box;
   position: absolute;
   top: 5px;
   right: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background-color: #fff;
   font-size: 20px;
   /* border-left: 1px solid #000;
   border-bottom: 1px solid #000; */
   border: 1px solid #000;
   cursor: pointer;
   outline: none;
}

.modalButtonSend {
   box-sizing: border-box;
   width: 150px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px auto 0;
   /* text-align: center; */
   background-color: #757dc9;
   border: 3px solid #757dc9;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.4s;
}

.modalButtonSend:hover {
   background-color: transparent;
}


/* html {} */


.form::-webkit-scrollbar {
   width: 12px;
}


.form::-webkit-scrollbar-track {
   background: #dddada;
   border-radius: 5px;
}


.form::-webkit-scrollbar-thumb {
   background: #888585;
   border-radius: 5px;
}


.form::-webkit-scrollbar-thumb:hover {
   background: #555;
}