.item {
   position: relative;
   width: 350px;
   /* height: 550px; */
   margin: 50px 50px;
   /* background-color: #209e46; */
}

.del {
   position: absolute;
   top: 0;
   right: 0;
   width: 40px;
   height: 40px;
   font-size: 20px;
   background-color: #921a1a;
   border: none;
}

.item img {
   width: 100%;
   height: 250px;
   /* background-color: #911818; */
}

.text {
   display: flex;
   justify-content: space-between;
   /* width: 100%; */
   padding: 10px;
}

.text p {
   display: inline-block;
}

.second {
   background-color: #f5f5f5;
}

.text button {
   width: 150px;
   height: 50px;
   background-color: #57c053;
   border: none;
   cursor: pointer;
}

.modal {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 600px;
   background-color: #fff;
   border: 1px solid #000;
   outline: none;
   /* overflow: hidden; */
}

.modalInput {
   width: 300px;
   padding: 10px;
   resize: none;
}

.modalInputText {
   margin-top: 40px;

}

.modalButton {
   box-sizing: border-box;
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   background-color: #fff;
   border-left: 1px solid #000;
   border-bottom: 1px solid #000;
   cursor: pointer;
}

.modalButtonSend {
   width: 150px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   /* text-align: center; */
   background-color: #757dc9;
   cursor: pointer;
}