.item {
   position: relative;
   width: 350px;
   margin: 50px 50px;
   box-shadow: 0px 0px 10px 0px #423e2333;
   border-radius: 5px;
}


.buttonWrap {
   position: absolute;
   top: -9999px;
   top: 50px;
   right: 0px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 200px;
   background-color: #fff;
   border-radius: 10px 0px 0px 10px;
   transition: height 0.4s;
}

.buttonWrap button {
   box-sizing: border-box;
   width: 100%;
   height: 50px;
   padding: 10px 20px;
   font-size: 15px;

   transition: all 0.4s;
}

.buttonWrap button:hover {
   box-sizing: border-box;
   background-color: #75a9da;
}

.item img {
   width: 100%;
   height: 250px;
}

.text {
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.text p {
   display: inline-block;
}

.second {
   background-color: #f5f5f5;
}

.text button {
   box-sizing: border-box;
   width: 150px;
   height: 50px;
   background-color: #57c053;
   border: 3px solid #57c053;
   font-size: 15px;
   cursor: pointer;
   transition: all 0.4s;
}

.text button:hover {
   background-color: transparent;
}

.modal {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 600px;
   background-color: #fff;
   border: 1px solid #000;
   outline: none;
}

.modalInput {
   width: 300px;
   padding: 10px;
   resize: none;
   background-color: #dadada;
   border: none;
   border-radius: 10px;
   font-size: 15px;
   outline: none;
}

.modalInput:focus {
   background-color: #bbbcff;
}


.modalInputText {
   margin-top: 40px;

}

.modalButton {
   box-sizing: border-box;
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   background-color: #fff;
   border-left: 1px solid #000;
   border-bottom: 1px solid #000;
   cursor: pointer;
}

.modalButtonSend {
   box-sizing: border-box;
   width: 150px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   background-color: #757dc9;
   border: 3px solid #757dc9;
   cursor: pointer;
   transition: all 0.4s;
}


.btn {
   position: absolute;
   right: 0;
   display: block;
   width: 50px;
   height: 50px;
   background-color: #000;
}

.btn span,
.btn span::before,
.btn span::after {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -10px;
   margin-top: -1px;
   width: 20px;
   height: 2px;
   background-color: #fff;
}

.btn span::before,
.btn span::after {
   content: '';
   display: block;
   transition: 0.2s;
}

.btn span::before {
   transform: translateY(-5px);
}

.btn span::after {
   transform: translateY(5px);
}

.active span {
   height: 0;
}

.active span::before {
   transform: rotate(45deg);
}

.active span::after {
   transform: rotate(-45deg);
}

.nonActive {
   height: 50px;
}