.main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 550px;
   background-image: url(../../assets/img/main.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: #fff;
   font-size: 35px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.main h1 {
   text-shadow: 4px 4px 2px #000000;
}