.main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 450px;
   /* margin-top: -40px; */
   /* background-color: #9e3939; */
   background-image: url(./main.jpg);
   background-repeat: no-repeat;
   /* background-position: center center; */
   /* background-size: cover; */
   background-attachment: fixed;
   color: #fff;
   font-size: 35px;
   letter-spacing: 2px;
   text-transform: uppercase;
}