.modalInput {
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   resize: none;
   background-color: #dadada;
   border: none;
   border-radius: 10px;
   font-size: 18px;
   outline: none;
}

.modalInput:focus {
   background-color: #bbbcff;
}

.validText {
   position: absolute;
   right: 20px;
   top: 0;
   height: 10px;

}